body {
	background: -webkit-linear-gradient(top, #0AFF01 0%, #01FFFF 25%, #01A3FF 50%, #011BFF 75%, #BC01FF 100%);
}

#canvas-holder {
	width: 100%;
	padding: 20px;
}


.drawing {
	border-radius: 20px;
	display: block;
	width: 800px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.text {
	background: black;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	padding: 5px;
	width: 800px;
	text-align: center;
	color: yellow;
	font-size: 20px;
	border-radius: 15px;
	font-family: arial;
}